.top-head-banner.vietjet,
.topbanner-vietjet {
  height: 420px;
}
.topbanner-vietjet .top-content h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}
.topbanner-vietjet .top-content p {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}
.topbanner-vietjet .top-content button {
  padding: 10px 30px;
}
.topbanner-vietjet {
  text-align: center;
  position: relative;
  background-position: center;
}
.topbanner-vietjet {
}

.magic-icon-search {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.magic-icon-search::before {
  content: "";
  border-radius: 3px;
  display: inline-block;
  width: 10%;
  height: 35%;
  background: #da2128;
  position: absolute;
  left: 63%;
  top: 63%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: all 0.3s;
}
.magic-icon-search.close::before {
  height: 70%;
  left: 50%;
  top: 50%;
  opacity: 1;
}
.magic-icon-search::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 50%;
  border: 3px solid #da2128;
  border-radius: 50%;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: all 0.3s;
}
.magic-icon-search.close::after {
  border-width: 6px;
  border-radius: 15px;
  width: 0px;
  height: 70%;
  left: 50%;
  top: 50%;
  border: 2px solid #da2128;
  transform: translate(-50%, -50%) rotate(45deg);
  opacity: 1 !important;
}
.magic-icon-search.close {
  opacity: 1 !important;
}

.vietjet-searchbar .search-animate .place-holder {
  position: absolute;
  display: flex;
  width: 469px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s;
  position: absolute;
}
.vietjet-searchbar .search-animate .place-holder {
}
.vietjet-searchbar .search-animate .place-holder .text {
  line-height: 36px;
  transition: all 0.3s;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #212121;
}
.vietjet-searchbar .search-animate .place-holder.opeb {
  width: 100%;
}
.vietjet-searchbar .search-animate .place-holder.opeb .text {
  opacity: 0;
}
.vietjet-searchbar .search-animate .place-holder.opeb .icon-wrapper {
  position: absolute;
}

.vietjet-searchbar .br-searchbar {
  margin-top: -46px;
  position: relative;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  padding: 24px 15px;
}
.vietjet-searchbar .br-searchbar .list-insur {
 border-right: 1px solid #DDDDDD;
}

.vietjet-searchbar .br-searchbar .list-insur .title-list-insur{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #212121;
}

.vietjet-searchbar .br-searchbar .list-insur .item-list-insur {
  padding-left: 12px;
  padding-top: 10px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: capitalize;
  color: #888888;
  cursor: pointer;
}

.vietjet-searchbar .br-searchbar .list-insur .item-list-active  {
  padding-left: 12px;
  padding-top: 10px;
  margin-bottom: 0;
  background-color: #E7F6EC;
  border-radius: 6px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #329945;
  cursor: pointer;
}

.vietjet-searchbar .br-searchbar .list-insur .item-list-insur label, .item-list-active label {
 padding-left: 8px;
}
.vietjet-searchbar .br-searchbar .list-insur .item-list-insur i.far.fa-hand-point-right, .item-list-active i.far.fa-hand-point-right {
  float: right;
  margin-right: 10px;
}
.vietjet-searchbar .search-animate input {
  text-align: center;
  border: none;
  width: 95%;
  height: 92px;
  position: absolute;
  background: none !important;
  left: 0;
  line-height: 36px;
  transition: all 0.3s;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}
.vietjet-searchbar .search-animate {
  bottom: 0;
  height: 100%;
  width: 100%;
  position: relative;
  height: 92px;
}
.vietjet-searchbar .search-animate .icon-wrapper {
  position: absolute;
  right: 20px;
}
.vietjet-searchbar .search-animate {
}
.vietjet-searchbar .search-animate {
}
.vietjet-searchbar .search-animate {
}
.top-head-banner.vietjet .top-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.vietjet-searchbar-suggestion {
  position: absolute;
  z-index: 999999;
  min-width: 800px;
  margin-bottom: 15px;
  padding: 15px;
  margin-top: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgb(0 0 0 / 12%);
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 0.3s;
}
.vietjet-searchbar-suggestion ul {
  padding: 0;
  list-style: none;
}
.vietjet-searchbar-suggestion ul li:hover {
  background: #dddddd4a;
  border-radius: 5px;
}
.vietjet-searchbar-suggestion ul li:hover span {
  color: #329945 !important;
}
.vietjet-searchbar-suggestion ul li {
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.vietjet-searchbar-suggestion ul li i {
  color: #329945;
}
.vietjet-searchbar-suggestion ul li span {
  margin-left: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #212121;
}
.noresult-vj {
  text-align: center;
  padding-top: 10px;
}

.vietjet-searchbar-suggestion.hide {
  opacity: 0;
}
.vietjet-searchbar-suggestion {
}
.vietjet-searchbar-suggestion {
}
.outside-search {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.highlight-item {
  user-select: none;
  cursor: pointer;
}
.highlight-list {
  user-select: none;
}
.btn-search .fa-search {
  width: 0px;
  opacity: 0;
  margin-right: 0px;
  transition: all 0.2s;
}
.btn-search:hover .fa-search {
  width: 15px;
  opacity: 1;
  margin-right: 10px;
}
.search-not-found {
  text-align: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  padding: 50px 0px;
}
.search-not-found img {
  max-width: 500px;
  width: 100%;
}
.search-body {
  /* padding-top: 60px; */
}
.group-ipnv {
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
}
.group-ipnv .float-label {
  min-width: 100%;
}
.group-ipnv button {
  min-width: 50%;
}
.group-ipnv .uikit_flinput_wrap{
	width: 100%;
}
.kkjs {
    border-left: 1px solid #ddd;
    position: relative;
    width: 100%;
}
.Calendar__monthText{
	width: 100px;
}



@media only screen and (max-width: 767px) {
  .search-not-found {
  }
  .search-not-found h1 {
    font-size: 20px;
  }
  .vietjet-searchbar .br-searchbar {
    margin-top: -29px;
  }
  .topbanner-vietjet .top-content h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .topbanner-vietjet .top-content p {
    font-size: 14px;
    line-height: 21px;
    padding: 10px;
  }
  .vietjet-searchbar .search-animate .place-holder .text {
    font-size: 14px !important;
    line-height: 21px !important;
  }
  .vietjet-searchbar .search-animate .place-holder {
    width: 291px;
  }
  .vietjet-searchbar .search-animate .place-holder.opeb .icon-wrapper {
    top: -6px;
    right: 7px;
  }
  .vietjet-searchbar .search-animate .place-holder .icon-wrapper {
    top: -6px;
    right: 0px;
  }
  .vietjet-searchbar .br-searchbar {
  }
  .vietjet-searchbar .search-animate input {
    height: 56px !important;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
  }
  .vietjet-searchbar-suggestion {
    display: none;
  }
  .mobile-search-f {
    padding: 10px;
  }
  .mobile-search-f .input-search-mb i {
    position: absolute;
    z-index: 999999;
    color: #dddddd;
    top: 12px;
    left: 10px;
    transition: color 0.3s;
  }
  .mobile-search-f .input-search-mb input {
    height: 40px;
    background: #ffffff;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 50px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #777777;
    transition: all 0.3s;
  }
  .mobile-search-f .input-search-mb input::placeholder {
    color: #dddddd;
  }
  .mobile-search-f .input-search-mb {
    padding: 10px;
    position: relative;
  }
  .mobile-search-f .input-search-mb input:focus {
    outline: none;
    border-color: #329945;
    color: #777777;
  }
  .mobile-search-f .input-search-mb input:focus + i {
    color: #329945;
  }
  .list-vj-item-search {
    padding: 30px 10px;
    margin: 0;
  }
  .list-vj-item-search ul {
    margin: 0;
    list-style: none;
    padding: 0;
  }
  .list-vj-item-search ul li {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #212121;
    padding: 10px 6px;
    border-bottom: 1px solid #f1f1f1;
  }
  .list-vj-item-search ul li i {
    color: #329945;
  }
  .vj-header-search {
    position: relative;
  }
  .vj-header-search .btn-close {
    width: 36px;
    height: 36px;
    background: #dddddd;
    border-radius: 50%;
    padding: 6px 12px;
    position: absolute;
    top: 50%;
    left: 10px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .vj-header-search h4 {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #323232;
    padding-top: 14px;
    margin: 0;
  }
  .vj-header-search p {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #777777;
  }

  .radio + label,
  .checkbox + label {
    font-size: 14px;
    line-height: 21px;
  }
  .searchform .rd-group .sp-hoz {
    margin-left: 10px !important;
  }
  .vietjet-searchbar .search-animate input {
    width: 80%;
  }
  .vietjet-searchbar .search-animate {
    height: 56px;
  }
  .form-search-list-insur{
    border-top: 1px solid #eeeeee;
    padding-top: 10px;
    margin-top: 16px;
  }
}
