.searchform {
  /*border-top: 1px solid #eeeeee;*/
}
.searchform .btn-search {
  background: #da2128;
  border-radius: 40px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  border: none;
  padding: 8px 50px;
  width: 190px;
}

.searchform .btn-search:active {
  color: #ffffff !important;
  background-color: #c11c23 !important;
  border-color: #da2128;
}
.searchform .btn-search:hover {
}
.searchform .search-footer {
  text-align: center;
  padding-bottom: 8px;
}
.searchform .rd-group {
  display: flex;
}
.searchform .rd-group .sp-hoz {
  margin-left: 50px;
}
.searchform .mt15 {
  margin-top: 15px;
}
.searchform.show {
  height: auto;
  max-height: 1000px;
}

.searchform {
  font-size: 20px;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.searchform .form-container {
  padding: 0 15px 15px 15px;
  opacity: 0;
  transform: translateY(-3rem);
  transition: all 0.5s ease-in-out;
}
.searchform.show .form-container {
  opacity: 1;
  transform: translateY(0rem);
}

.searchform .search-footer {
  opacity: 0;
  transform: translateY(-2rem);
  transition: all 0.3s ease-in-out;
}
.searchform.show .search-footer {
  opacity: 1;
  transform: translateY(0rem);
}

.select-option,
.highlight-item {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.select-option {
}

a.guide-infor {
  color: rgb(238, 29, 35);
  font-size: 14px;
}
.uikit_flinput_wrap .react-loading-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 9px;
  height: 54px;
  z-index: 9999;
}

.uikit_fldate_wrap .react-loading-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 9px;
  height: 54px;
  z-index: 9999;
}

.title-form-search {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  align-items: center;
  text-transform: capitalize;
  color: #212121;
  padding-left: 15px;
}